parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
        - src/Kernel.php
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        - '#Property Dradisic\\KafkaSchema\\Command\\SchemaMigrationCommand::\$schemaManager is never read#'